.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "BebasNeue";
  color: var(--white);
  font-size: 24px;
  margin-bottom: 5px;
}

.errorLabel {
  color: var(--red);
}

.input {
  width: 100%;
  font-family: "OpenSans";
  font-size: 16px;
  padding: 3px 5px;
}

.errorInput {
  border: 1px solid var(--red);
  -webkit-box-shadow: 0px 0px 7px 0px var(--red);
  -moz-box-shadow: 0px 0px 7px 0px var(--red);
  box-shadow: 0px 0px 7px 0px var(--red);
}

.textarea {
  height: 150px;
  resize: none;
}

.text {
  height: 40px;
}

@media (max-width: 500px) {
  .label {
    font-size: 20px;
  }

  .input {
    font-size: 14px;
  }

  .text {
    height: 35px;
  }
}
