.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "OpenSans";
  color: var(--white);
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.errorLabel {
  color: var(--red);
}

.input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: var(--white);
  padding: 2px;
  margin-right: 10px;
}

.errorCheckbox {
  border: 1px solid var(--red);
  -webkit-box-shadow: 0px 0px 7px 0px var(--red);
  -moz-box-shadow: 0px 0px 7px 0px var(--red);
  box-shadow: 0px 0px 7px 0px var(--red);
}
