.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mint-green-light);
  min-height: 100vh;
  min-height: 100dvh;
  box-sizing: border-box;
  overflow-y: scroll;
  width: 100vw;
  overflow-x: hidden;
}

.contentField {
  width: 80%;
  /* min-height: 750px; */
  background-color: var(--black);
  margin: 130px 0 50px 0;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .contentField {
    margin: 30px;
    margin-top: 100px;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .contentField {
    margin-top: 90px;
  }
}
